---
layout: "blog-post.njk"
title: "Branding and Events Manager"
description: "Branding and Events Manager Teamwork Commerce Uncategorized -"
dek: "Responsibilities Research relevant industry events Plan events from start to finish, often more than one at a time Manage vendor relationships with each event."
category: "Blog"
date: "2022-04-14"
navLabel: "Branding and Events Manager"
tags: "blogpost"
permalink: "/blog/branding-and-events-manager/"
---
<h4>Responsibilities</h4>
<ul>
<li>Research relevant industry events</li>
<li>Plan events from start to finish, often more than one at a time</li>
<li>Manage vendor relationships with each event.</li>
<li>Arrange travel and accommodations for event staff</li>
<li>Coordinate logistics to and from the show for booth materials</li>
<li>Keep track of budgets for the event</li>
<li>Run the event and make sure everything goes smoothly</li>
<li>Work with sales staff and sales partners on leads and marketing</li>
<li>Provide support for Salesforce to all users</li>
<li>Collaborate with Marketing team on campaigns and event promotion</li>
<li>Stay on top of market trends</li>
<li>Assist in other marketing tasks as they come up</li>
</ul>
<h4>Qualifications and Skills</h4>
<ul>
<li>Experience using Salesforce CRM & Pardot marketing platform</li>
<li>Time management</li>
<li>Ability to negotiate with vendors</li>
<li>Outstanding communication skills</li>
<li>Able to problem solve on the spot</li>
<li>Proficient in Microsoft Office products. Adobe suite preferred but not required.</li>
<li>Be able to lift at least 40 pounds</li>
<li>Bachelor’s degree in marketing or similar</li>
</ul>
