---
layout: "blog-post.njk"
title: "Business Development Executive"
description: "Business Development Executive Teamwork Commerce Uncategorized -"
dek: "The Business Development Executive at Teamwork Commerce is an exciting new position we are creating in the expanding Sales Department."
category: "Blog"
date: "2022-03-07"
navLabel: "Business Development Executive"
tags: "blogpost"
permalink: "/blog/business-development-executive/"
---
<p style="color: var(--text-muted); line-height: 1.7; margin-bottom: 16px;">The Business Development Executive at Teamwork Commerce is an exciting new position we are creating in the expanding Sales Department. This role will be responsible for lead generation, developing leads, as well as qualifying leads and passing them to the Sales Manager when established as a lead showing interest in Teamwork. This role will be based in our Clearwater Florida office, with hours of Monday to Friday 9-5pm EST (additional hours as required).</p>
<h4>Duties</h4>
<ul>
<li>Develop and nurture both new and old relationships</li>
<li>Must be able to construct email exchanges and campaigns to generate interest</li>
<li>Needs to feel comfortable in calling inbound leads to establish qualification</li>
<li>Will be required to cold call potential clients and partners as a regular part of their role</li>
<li>Will be expected to travel to existing partners or clients to nurture those relationships, to generate them as lead sources</li>
<li>Will be required to attend trade shows to create new relationships or build upon existing ones</li>
<li>Work closely with Marketing to find new ways to generate leads, such as putting on Teamwork-hosted events</li>
<li>This list is not exhausted, and other tasks may be required</li>
</ul>
<h4>Qualifications and Skills</h4>
<ul>
<li>Bachelor’s Degree preferred but not required</li>
<li>Enthusiastic and positive attitude to their work</li>
<li>Great communication/social skills</li>
<li>Ability to show initiative</li>
<li>Ability to travel up to 50% of the time</li>
<li>2+ years of sales/business development experience</li>
</ul>
