---
layout: "blog-post.njk"
title: "L2 Support Engineer"
description: "L2 Support Engineer Teamwork Commerce Uncategorized -"
dek: "*Candidate must be bilingual (English/Japanese) in order to qualify*"
category: "Blog"
date: "2022-03-25"
navLabel: "L2 Support Engineer"
tags: "blogpost"
permalink: "/blog/l2-support-engineer/"
---
<p style="color: var(--text-muted); line-height: 1.7; margin-bottom: 16px;">*Candidate must be bilingual (English/Japanese) in order to qualify*</p>
<h4>Responsibilities</h4>
<ul>
<li>Responsible for maintenance of existing platform</li>
<li>SaaS platform support</li>
<li>Support software rollout for over 500 sites</li>
<li>Meeting business team members / clients to provide support to users</li>
</ul>
<h4>Qualifications and Skills</h4>
<ul>
<li>Bilingual in English and Japanese (Speak, Read, Write)</li>
<li>iOS support experience</li>
<li>Willing to travel on occasion</li>
<li>eCommerce or retail software experience</li>
<li>Support experience with hardware and software</li>
</ul>
